<ion-content class="home">
  <ion-label> MARS ROVER </ion-label>
  <ion-slides [options]="slideOpts2">
    <ion-slide>
      <h1><img src='../../assets/1.jpg'></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src='../../assets/2.jpg'></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src='../../assets/3.jpg'></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src='../../assets/4.jpg'></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src='../../assets/5.jpg'></h1>
    </ion-slide>
  </ion-slides>
</ion-content>

 