.home {
    --background: transparent;
    background: url('../../assets/1192986.jpg');
    background-size: cover;
}

ion-slides {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

ion-label {
    position: absolute;
    color: rgba(255,255,255,0.6);
    top:50px;
    left:20px;
    font-size: 40px;
}

